@import "partials/base"
@import "users"

#masthead
  text-align: center

form
  +blueprint-form

//Forms
.form_list
  +no-bullets
  li
    width: 500px
    label
      width: 175px
      display: inline-block

.notice
  +notice

.success
  +success